<div class="table-wrapper open-invites">
    <h2>Open Invites</h2>
    <table>
        <thead>
            <tr>
                <th>Project id#</th>
                <th>Host: Description</th>
                <th>Project Due Date</th>
                <th>Project Details</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            {{#each projectinvite}}
            <tr>
                <td>{{this.id}}</td>
                <td>{{this.ojectinvitedescription}}</td>
                <td>{{this.dueDate}}</td>
                <td><a href="JavaScript:;" class="button alt small fit icon fa-info-circle developer-view-project" id="{{this.id}}">View Project</a></td>
                <td><a href="JavaScript:;" class="button fit small icon fa-check developer-accept-request" id="{{this.id}}">Accept
                        Request
                    </a></td>
            </tr>
            {{/each}}
        </tbody>
    </table>
</div>