<div class="table-wrapper open-invites">
    <h2>Open Projects</h2>
    <table>
        <thead>
            <tr>
                <th>Project id#</th>
                <th>Host: Description</th>
                <th>Accepted Date</th>
                <th>Project Due Date</th>
                <th>Project Details</th>
            </tr>
        </thead>
        <tbody>
            {{#each openproject}}
            <tr>
                <td>{{this.id}}</td>
                <td>{{this.description}}</td>
                <td>{{this.updatedAt}}</td>
                <td>{{this.dueDate}}</td>
                <td><a href="JavaScript:;" class="button alt small fit icon fa-info-circle developer-view-project" id="{{this.id}}">View Project</a></td>
            </tr>
            {{/each}}
        </tbody>
    </table>
</div>