<div class="table-wrapper open-invites">
    <h2>Open Projects</h2>
    <table>
        <thead>
            <tr>
                <th>Project id#</th>
                <th>Host: Description</th>
                <th>Accepted Date</th>
                <th>Project Due Date</th>
                <th>Project Details</th>
            </tr>
        </thead>
        <tbody>
            {{#each project}}
            <tr>
                <td>{{id}}</td>
                <td>{{description}}</td>
                <td>{{updatedAt}}</td>
                <td>{{dueDate}}</td>
                <td><a href="JavaScript:;" class="button alt small fit icon fa-info-circle developer-view-project" id="{{id}}">View Project</a></td>
            </tr>
            {{/each}}
        </tbody>
    </table>
</div>