<div class="table-wrapper open-invites">
    <h2>Open Invites</h2>
    <table>
        <thead>
            <tr>
                <th>Project id#</th>
                <th>Host: Description</th>
                <th>Project Due Date</th>
                <th>Project Details</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            {{#each project}} {{#unless isAssigned}}
            <tr>
                <td>{{id}}</td>
                <td>{{description}}</td>
                <td>{{dueDate}}</td>
                <td><a href="JavaScript:;" class="button alt small fit icon fa-info-circle developer-view-project" id="{{id}}-{{description}}-{{updatedAt}}-{{dueDate}}">View
                        Project
                    </a></td>
                <td><a href="JavaScript:;" class="button fit small icon fa-check developer-accept-request" id="{{id}}">Accept
                        Request
                    </a></td>
            </tr>
            {{/unless}} {{/each}}
        </tbody>
    </table>
</div>