<div class="table-wrapper">
    <h2>Completed Projects</h2>
    <table>
        <thead>
            <tr>
                <th class="customer-completed-project-id">Project id#</th>
                <th class="customer-completed-project-description">Project Description</span></th>
                <th class="customer-completed-project-due-date">Due Date</th>
                <th class="customer-completed-project-finish-date">Finished Date</th>
            </tr>
        </thead>
        <tbody>
            {{#each completeProjects}} 
            <tr>
                <td>{{this.id}}</td>
                <td>{{this.name}}</td>
                <td>{{this.description}}</td>
<<<<<<< HEAD
                <td><a href="" class="button fit small icon fa-plus">Match Developer</a></td>
                <td>{{this.dueDate}}</td>
=======
                <td>{{this.updatedAt}}</td>
>>>>>>> d173b8228ee20593d0f67889ce3d04889c61a0d7
            </tr>
            {{/each}}
        </tbody>
    </table>
</div>