<div class="table-wrapper">
    <h2>Open Projects</h2>
    <table>
        <thead>
            <tr>
                <th class="customer-open-project-id">Project id#</th>
                <th class="customer-open-project-name">Project Name</th>
                <th class="customer-open-project-description">Project Description</span></th>
                <th class="customer-open-project-add-developer">Add Developer</th>
                <th class="customer-open-project-number-developer"># Developer Assigned</th>
                <th class="customer-open-project-due-date">Due Date</th>
                <th class="customer-open-project-complete?">Complete?</th>
            </tr>
        </thead>
        <tbody>

            {{#each notCompleteProjects}}
            <tr>
                <td>{{this.id}}</td>
                <td>{{this.name}}</td>
                <td>{{this.description}}</td>
                <td><a href="" class="button fit small icon fa-plus">Match Developer</a></td>
                <td>{{this.DeveloperId}}</td>
                <td>{{this.dueDate}}</td>
                <td><button class="completeButton" id="{{this.id}}">Click to Complete</button></td>
            </tr>
            {{/each}}

        </tbody>
    </table>
</div>