<div class="profileparent">
    {{#each project}}
    <div class="hover_bkgr_fricc" id="{{id}}">
        <span class="helper"></span>
        <div class="detailbody">
            <div class="popupCloseButton icon fa-times"></div>
            <p>Project Id: {{id}}</p>
            <p>{{description}}</p>
            <span style="font-size: 2em; color: gray">
                <i class="fab fa-angular"></i>
                <i class="fab fa-css3-alt"></i>
                <i class="fab fa-html5"></i>
                <i class="fab fa-java"></i>
                <i class="fab fa-js-square"></i>
                <i class="fab fa-node-js"></i>
                <i class="fab fa-python"></i>
                <i class="fab fa-react"></i>
            </span>
            </br>
            <span style="font-size: 1em; color: gray">
                <i>{{angular}}</i>
                <i>{{css}}</i>
                <i>{{html}}</i>
                <i>{{java}}</i>
                <i>{{javascript}}</i>
                <i>{{nodeJS}}</i>
                <i>{{python}}</i>
                <i>{{react}}</i>
            </span>

        </div>
    </div>
    {{/each}}
    <div class="sidenav">
        <div class="image round fit">
            <img src="{{photo}}" alt="developer photo" />
        </div>
        <div class="navlist">
            <h4>{{name}}</h4>

            <a href="#profile-settings" class="button alt small fit icon fa-info-circle">Profile Settings</a>
            <a href="#open-invites" class="button alt small fit icon fa-inbox">Open Invites</a>
            <a href="#open-projects" class="button alt small fit icon fa-folder-open">Open Projects</a>
            <a href="#completed-projects" class="button alt small fit icon fa-briefcase">Completed Projects</a>
            <a href="#hibernate" class="button alt small fit icon fa-plus">Hibernate</a>
        </div>
    </div>
    <div class="developercontrol-view">
        <div class="section" id="profile-settings">
            {{> Developer/DeveloperControlMenu/profilesettings}}
        </div>
        <div class="section" id="open-invites">
            {{> Developer/DeveloperControlMenu/openinvites}}
        </div>
        <div class="section" id="open-projects">
            {{> Developer/DeveloperControlMenu/openprojects}}
        </div>
        <div class="section" id="completed-projects">
            {{> Developer/DeveloperControlMenu/completedprojects}}
        </div>
        {{!--
        <div class="section" id="hibernate">5</div> --}}
    </div>
</div>